img {
    display: block;
    align-items: center;
    height: 400px;
    width: 300px;
}

body {
    text-align: center;
}

.grid-container {
    display: grid;
    margin: 5%;
    grid-gap: 10px;
    background-color: rgb(79, 92, 102);
    padding: 10px;
}

.grid-item {
    background-color: rgba(108, 139, 120, 0.75);
    text-align: center;
    /* padding: 20px; */
}

.column-1 {
    grid-row: 3;
    grid-column: 1;
}

.column-2 {
    grid-row: 3;
    grid-column: 2;
}