.flex-container {
    background-color: rgb(69, 150, 212);
    padding: 10px;
    display: table;
    clear: both;
    margin-left: 15%;
    width: 70%;
}

.flex-item {
    background-color: rgba(108, 139, 120, 0.75);
    text-align: center;
    float: left;
    width: 48%;
    border: solid;
    /* padding: 20px; */
}

.flex-item:hover {
    background-color: rgba(39, 105, 65, 0.75);
}