.flex-container {
    display: flex;
    grid-gap: 10px;
    background-color: rgb(79, 92, 102);
    padding: 10px;
}

.flex-item {
    background-color: rgba(108, 139, 120, 0.75);
    text-align: center;
    flex: 1;
    float: left;
    width: 50%;
    /* padding: 20px; */
}