.topbar {
    overflow: hidden;
    background-color: rgb(212, 39, 30);
    text-align: center;
}

.topbar a {
    float: left;
    font-family: 'Calibri';
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 17px;
    font-size: 17px;
    text-decoration: none;
    width: 30%;
}

a {
    text-align: center;
}

li {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.some {
    text-align: center;
}

.topbar a:hover {
    background-color: rgb(212, 100, 100);
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: rgb(79, 92, 102);
    padding: 10px;
}

.grid-item {
    background-color: rgba(108, 139, 120, 0.75);
    text-align: center;
    /* padding: 20px; */
}

#start {
    background-color: rgb(255, 60, 0);
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 30px;
}

#name {
    color: rgb(20, 17, 15);
    font-size: 30px;
}

#class {
    color: rgb(27, 26, 25);
    font-size: 30px;
}

.name {
    padding: 3px;
    grid-column: 1;
    grid-row: 1;
}

.class {
    grid-column: 1;
    grid-row: 2;
}

.game {
    grid-column: 1;
    grid-row: 3;
}

.about_me {
    grid-column: 1;
    grid-row: 4;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 400px;
    height: 600px;
}

#about_me {
    border: 1px;
    border: solid;
    background-color: #d6cdcd;
    font-size: 30px;
}

#assignments {
    border: 1px;
    border: solid;
    background-color: #d6cdcd;
    font-size: 30px;
}